@require "helpers"
@require "table"

.error-message
    visibility hidden
    color red
    font-weight bold
    text-align left
    padding 1rem 0
.modal
    display none
    position fixed
    left 0
    top 0
    z-index 100
    width 100%
    height 100%
    overflow auto
    background-color #000
    background-color rgba(0, 0, 0, .5)
.modal-content
    max-width 90%
    margin 10% auto
    padding 2rem
    border 1px solid #888
    background-color white
    border-radius 5px
    text-align center

text-color = #000
mobile-width = 600px

body
  margin 0
  padding 0
  font-family Helvetica, "Trebuchet MS"

#navbar
  position fixed
  font-weight bold
  top 0
  left 0
  margin-bottom 50px
  width calc(100% - 40px)
  padding 20px
  overflow hidden
  text-decoration none
  background #7d7e7d
  background -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%)
  background -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%)
  background linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%)

#navbarr
  position relative
  font-weight bold
  top 0
  left 0
  // margin-bottom 50px
  width calc(100% - 40px)
  padding 20px
  overflow hidden
  text-decoration none
  background #7d7e7d
  background -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%)
  background -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%)
  background linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%)

#navbarr a
  float left
  display block
  color #f2f2f2
  text-align center
  padding 14px 16px
  text-decoration none

#navbarr span
  color white
  font-size 2em
  text-transform uppercase
  font-family Helvetica, "Trebuchet MS"
  text-decoration none
  padding: 10px

#nba:hover
  opacity 0.8
  cursor pointer
  color red
  margin-left -20px
  padding-left 20px
  padding-right 20px

#nba
  padding-bottom 16px


#navbar a
  float left
  display block
  color #f2f2f2
  text-align center
  padding 14px 16px
  text-decoration none

#navbar span
  color white
  font-size 2em
  text-transform uppercase
  font-family Helvetica, "Trebuchet MS"
  text-decoration none
  padding: 10px

#nb-items
  float right
  text-align center
  text-decoration none

#nb-items:hover
  opacity 0.8
  cursor pointer
  color black
  background-color red
  margin-left -20px
  padding-left 20px
  padding-right 20px

#nb-items *
  padding-left 20px
  text-decoration none

.form-box
  width 50%
  margin 0px 25%
  box-shadow 0px 0px 20px #CCC
  padding 30px
  // margin-top 150px

.fb-item
  margin 20px

.fb-item input
  width 100%
  font-size 1.2em

.fb-item input:focus
  background #E6E6FA

.form-boxx
  width 50%
  margin 0px 25%
  box-shadow 0px 0px 20px #CCC
  padding 30px
  margin-top 150px
  position relative

// .fb-item
//   margin 20px
//
// .fb-item input
//   width 100%
//   font-size 1.2em
//
// .fb-item input:focus
//   background #E6E6FA

#submit
  bottom 0
  left 0
  width 100%
  background #7d7e7d
  background -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%)
  background -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%)
  background linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%)
  padding 20px
  text-align center
  color white
  font-size 1.4em
  text-transform uppercase
  border none

#submit:hover
  opacity 0.8
  cursor pointer
  color red

#submitt
  bottom 0
  left 0
  width 20%
  background #e52d27  /* fallback for old browsers */
  background -webkit-linear-gradient(to right, #b31217, #e52d27)  /* Chrome 10-25, Safari 5.1-6 */
  background linear-gradient(to right, #b31217, #e52d27) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding 20px
  text-align center
  color white
  font-size 1.4em
  text-transform uppercase
  border none
  border-radius 16px

#submitt:hover
  opacity 0.8
  cursor pointer
  color black

#sub
  width 35%
  background #E6DADA  /* fallback for old browsers */
  background -webkit-linear-gradient(to right, #274046, #E6DADA)  /* Chrome 10-25, Safari 5.1-6 */
  background linear-gradient(to right, #274046, #E6DADA) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius 16px
  padding 20px
  text-align center
  color white
  font-size 0.75em
  border none

#sub:hover
  opacity 0.8
  cursor pointer

#gCal
  width 40%
  // padding-top 110px
  position relative
  display inline-block
  float right
  margin-right 50px
  // margin-left 60%
  // margin-top 50px

#restaurantInfo
  background #fc4a1a
  background -webkit-linear-gradient(to right, #fc4a1a, #f7b733);
  background linear-gradient(to right, #fc4a1a, #f7b733);
  overflow-wrap normal
  // width 500px
  display inline-block
  margin-left 50px
  border 3px solid #73AD21
  border-radius 16px
  color white
  font-size 2em
  font-family Helvetica, "Trebuchet MS"
  text-decoration none
  padding 10px
  text-align center
  width 40%
  position relative
  float left
  margin-top -70px
  // flex-wrap wrap
  // display flex
  // display -webkit-flex
  // -webkit-flex-wrap wrap

#update
  background #fc4a1a
  background -webkit-linear-gradient(to right, #fc4a1a, #f7b733);
  background linear-gradient(to right, #fc4a1a, #f7b733);
  overflow-wrap normal
  // width 500px
  // display inline-block
  border 3px solid #73AD21
  border-radius 16px
  color white
  font-size 1em
  font-family Helvetica, "Trebuchet MS"
  text-decoration none
  padding 10px
  text-align center
  margin-top 50px
  margin-left 20px
  // flex-wrap wrap
  // display flex
  // display -webkit-flex
  // -webkit-flex-wrap wrap

#appointmentSubmit
  margin-top 50%
  margin-bottom 25px
  // position relative
  // background #fc4a1a
  // background -webkit-linear-gradient(to right, #fc4a1a, #f7b733);
  // background linear-gradient(to right, #fc4a1a, #f7b733);
  // overflow-wrap normal
  // // width 500px
  // display inline-block
  // margin-left 50px
  // border 3px solid #73AD21
  // border-radius 16px
  // color white
  // font-size 2em
  // font-family Helvetica, "Trebuchet MS"
  // text-decoration none
  // padding 10px
  // text-align center
  // position relative

// #resApts
//   margin-top 500px
