extends template

block content
	div#restaurantInfo
	form#appointmentSubmit
		input(type="time" name="appointment_time" placeholder="12:00")
		- var fun = 'makeAppointment(' + "'" + id + "'" + ')'
		button(type='submit' name="appointment_submit" value="Sign Up!" onclick=fun )
		
		<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=5tjfsqpv62ig1q3mdg3inq83go%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		
	script.

		loadRestaurant("#{id}")

