extends template

block content
	div#restaurantInfo
	div#resApts
	form#appointmentSubmit
		input(type="datetime-local" name="appointment_time")
		- var fun = 'makeAppointment(' + "'" + id + "'" + ')'
		button(type='submit' name="appointment_submit" value="Sign Up!" onclick=fun )
	script.

		loadRestaurant("#{id}")

