extends template

block content
	#navbarr
		#nba 
			a(href='/home')
				span Satsuma 
					img(src="https://cdn2.bigcommerce.com/server4800/6e2ef/product_images/uploaded_images/satsuma.png?t=1429030694" width="50" height="50")
		#nb-items
			a(href='/homepage' onClick='logout()')
				span logout
		#nb-items 
			a(href='/update')
				span Update
		#nb-items 
			a(href='/profiles')
				span Profile
	
	div#keyy
			
	div#restaurantInfo
		
			
	div#gCal
		<div data-tockify-component="mini" data-tockify-calendar="satsumaappointments"></div>
		<script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>		
	script.
		
		loadRestaurant("#{id}")
	
	div#appointmentSubmit
		form(name='appointment')
			.form-boxx
				h1 Sign Up Form A Time!
				.fb-item
					input(type="datetime-local" name="appointment_time")
					br
					- var fun = 'makeAppointment(' + "'" + id + "'" + ')'
				button#submit(type='submit' name="appointment_submit" onclick=fun ) Sign Up!
			
	
	div#key
		table#resApts
			tr
				th User
				th Time
